/* BG Image */
.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -10;
  display: block;
  background-image: url("../images/bg-image.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(2px);
}

/* .page {
  
  z-index: 9999;
  
} */

header {
  padding-left: 1%;
  padding-right: 2%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
}

/* ConsultUs Logo */
#logo img {
  padding-top: 2%;
  scale: 0.9;
}

/* Nav Bar Styling */
.nav-item {
  font-size: 1em;
  color: white;
}

.nav-link:hover {
  color: white;
  background-color: #db5800;
  border-radius: 15px;
}

.nav-item>.active {
  background-color: #db5800;
  color: white !important;
  border-radius: 15px;
}

/* Content */
.content {
  display: flex;
  justify-content: center;
  margin: 1%;
  padding: 2%;
}

.cont-el {
  display: flex;
  justify-content: center;
  padding: 2%;
}

.cont-el img {
  width: 30%;
  height: 55%;
  object-fit: fill;
}

.text {
  font-size: 1em;
  margin: 2%;
  padding: 2%;
  background: rgba(255, 255, 255, 0.8);
}

h5 {
  border-bottom: 0.2em black solid;
  
}

