/* BG Image */
.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: -10;
  display: block;
  background-image: url("../images/bg-image.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(2px);
}

/* .page {
  
  z-index: 9999;
  
} */

header {
  padding-left: 1%;
  padding-right: 2%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2%;
}
/* ConsultUs Logo */
#logo img {
  padding-top: 2%;
  scale: 0.9;
}

/* Nav Bar Styling */
.nav-item {
  font-size: 1em;
  color: white; 
}

.nav-link:hover {
  color: white;
  background-color: #db5800;
  border-radius: 15px;
}

.nav-item > .active {
  background-color: #db5800;
  color: white !important;
  border-radius: 15px;
}

/* Content */
.work {
  margin-right: 2%;
}
.page-pic {
  max-width: 100%;
}

.page-text {
  max-width: 50%;
}


.pic {
  display: flex;
  margin: 0%;
  align-items: center;
}
.page-text h3 {
  background-color: whitesmoke;
  padding: 2%;
  display: flex;
  margin-bottom: 0%;
  flex-direction: column;
  justify-content: center;
  border-top: black solid 0.2em;
  border-bottom: black solid 0.2em;
}
.page-text p {
  background-color: whitesmoke;
  padding: 5%;
  display: flex;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: center;
   border-bottom: black solid 0.2em;
}

/* Footer */
footer {
  display: block;
  width: 100%;
  background-color: white;
  margin-top: 2%;
  bottom: 0px;
}

/* .carousel-caption {
  position: relative;
}

.carousel-caption::before {
   Highlight color 
  background-color: #db5800;

  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 100%;
  left: -2px;
  bottom: 0;
  z-index: -1;
  transform: rotate(-2deg);
  transform-origin: bottom;
}
 */
